.wrapper {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding: 0px;
}

.startpage-text {
  color: white;
}

.navbar {
  background-color: black;
}

.navbar-image {
  width: 20%;
}
